@import 'menu-mobile.css';

body {
  margin: 0;
  border: 0;
  background-color: #121212;
  color: white;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
p {
  margin: 0;
}

main {
  color: #c4c4c4;
}

footer {
  padding: 4rem 0;
  text-align: center;

}

footer p {
  display: inline-block;
}

footer span {
  color: #00d2df;
  font-weight: bold;
  transition: .4s;
}

.projects,
.sobre-mim {
  background-color: #151515;
  z-index: 0;
  position: relative;
}


h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}


header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav {
  padding: 0 15%;
  display: flex;
  align-items: center;
  background-color: #151515;
  border-bottom: 2px solid #272727;
  font-weight: bold;
  height: 80px;
  transition: 0.3s;
}

nav.fixed {
  box-shadow: 0.4px 4px rgba(0, 0, 0, .3);
}

nav ul {
  display: flex;
  justify-content: end;
}


nav ul li {
  list-style: none;
  margin: 10px 30px;

}

nav ul li::after {
  content: "";
  display: block;
  border-bottom: 2px solid #00bbc5;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

nav p {
  padding: 10px;
  font-size: 1.3rem;
  width: 100%;
}

nav p a {
  color: white;
  transition: 0.3s;
}

nav p a:hover {
  color: #00d2df;
}

.principal,
.sobre-mim,
.experiencia,
.projects {
  padding: 6.5% 15%;
  min-height: 35vh;
}


section h1 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 60vh;
}

.principal .scroll {
  position: absolute;
  bottom: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.principal .scroll p {
  padding: 1rem 0;
  display: inline-block;
}

.principal .scroll img {
  animation: scroll-down 3s infinite forwards;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}

.principal_left {
  width: 50%;
  margin: 5rem 0;

}

.principal_right {
  width: 40%;
  margin: 2rem 0;
}

.principal h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.principal span {
  font-size: 3rem;
  text-transform: uppercase;
  color: #00bbc5;
  font-weight: 600;
  letter-spacing: 3px;
}

.principal .principal-input-cursor {
  width: 3px;
  height: 42px;
  background-color: white;
  display: inline-block;
  position: relative;
  top: 3px;
  animation: blink 0.6s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.principal_botao,
.sobre-mim_descricao-buttons {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.principal_botao-linkedin,
.principal_botao-github,
.sobre-mim_descricao-buttons-curriculo {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  background-color: #121212;

  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 40px;
}

.principal_botao-linkedin::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(-45deg,
      rgba(147, 88, 247, 1),
      rgba(16, 215, 226, 1));
  background-size: 400%;
  animation: move infinite forwards 4s;

}

.principal_botao-linkedin:hover,
.principal_botao-github:hover,
.sobre-mim_descricao-buttons-curriculo:hover {
  background-color: #272727;
  text-shadow: 1px 1px 3px #00bbc5;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.principal_botao-github::before,
.sobre-mim_descricao-buttons-curriculo::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: linear-gradient(150deg,
      rgb(0, 21, 99),
      rgba(101, 24, 180, 1));
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.principal_botao-linkedin p,
.principal_botao-github p,
.principal_botao-github img {
  padding: 9px 0 5px;
}

.principal_botao-linkedin img {
  margin-right: 5px;
}

.sobre-mim_descricao-buttons-curriculo p,
.sobre-mim_descricao-buttons-curriculo img {
  padding: 5px 0 5px;
}

.principal_botao-linkedin img,
.principal_botao-github img {
  width: 22px;
}

.sobre-mim {
  display: flex;
  justify-content: space-around;
}

.sobre-mim_descricao {
  line-height: 1.5rem;
  width: 70%;
}

.sobre-mim h2 {
  margin-bottom: 1rem;
}

.sobre-mim_descricao-buttons {
  margin-top: 2rem;
}

.sobre-mim_foto {
  min-width: 30%;
}

.sobre-mim_foto img {
  border-left: 5px solid white;
  filter: opacity(55%);
  transition: 0.4s;
  width: 80%;
}

.sobre-mim_foto img:hover {
  filter: opacity(70%);
  border-left: 5px solid #272727;
}

.experiencia_wrapper {
  display: flex;
}

.experiencia_lugares {
  width: 200px;
  cursor: pointer;
}

.experiencia_lugares ul {
  list-style: none;
  font-size: 1.1rem;
  padding: 0;
}

.experiencia_lugares ul li.active {
  background-color: #151515;
  border-left: 1px solid #6386f9;
  font-weight: 600;
}

.experiencia_lugares li {
  padding: 10px;
  text-align: center;
  border-left: 2px solid #272727;
  transition: background-color 0.5s ease;
}

.experiencia_lugares ul li:hover {
  background-color: #272727;
}

.experiencia_descricao {
  width: 60%;
  margin-left: 5rem;
  position: relative;
  line-height: 1.5rem;
}

.experiencia_descricao section {
  display: none;
}

.experiencia_descricao section.active {
  display: block;
}

.experiencia_descricao section.active.show-right {
  animation: 0.5s forwards show-right;
}

.experiencia_descricao h2 {
  font-size: 1.4rem;
  display: inline-block;
}

.experiencia_descricao span {
  font-size: 0.95rem;
  position: absolute;
  right: 0;
  top: 5px;
  font-weight: bold;
}

.experiencia_descricao-local {
  margin: 2rem 0;
  font-size: 0.85rem;
  color: #6386f9 !important;
  font-weight: bold;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/* Projetos */

.projects h3 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: #c4c4c4;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project {
  display: flex;
  gap: 30px;
  padding: 40px;
  background-color: #121212;
  align-items: top;
  border-radius: 10px;
}


.project img {
  width: 300px;
  border-radius: 8px;
  transition: all 0.4s;
}

.project img:hover {
  transform: scale(1.1);
}

.project .project-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.project .project-information h2 {
  color: #fff;
}

.project .project-information .description {
  width: 100%;
  background-color: #151515;
  border-radius: 8px;
  color: #fff;
  /* margin: 0; */
}


.project .project-information .description p {
  padding: 8px;
}

.project .project-information .wrapper-view {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project .project-information .wrapper-view .skills-icons {
  background-color: #151515;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.project .project-information .wrapper-view .skills-icons {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.project .project-information .wrapper-view .skills-icons img {
  display: block;
  padding: 3px;
  transition: 0.4s all;
}

.project .project-information .wrapper-view .skills-icons img:hover {
  background-color: #c4c4c4;
  padding: 3px;
}

.project .skills-icons img,
.view img {
  width: 30px;
}

.project .wrapper-view .view {
  display: flex;
  gap: 30px;
  align-items: center;
}

.project .wrapper-view .view img {
  display: block;
  transition: filter 0.4s ease;
  background-color: #c4c4c4;
  padding: 6px;
}

.project .wrapper-view .view img:hover {
  filter: brightness(1.4);
}


.voltar {
  text-align: center;
}

.voltar a {
  color: #6386f9;
  font-weight: bold;
  transition: 0.3s;
}

.voltar a:hover {
  color: white;
}


/*Personalizando a barra de rolagem*/
::-webkit-scrollbar {
  width: 5px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #6386f9;
  border-radius: 5px;

}

/*aplicando cor para partes do documento que for selecionadas*/
::selection {
  background-color: #6386f9;
  ;
}

/*Tratando responsividade*/

@media (max-width: 375px) {
  .projects .project {
    flex-direction: column;
  }

  .project .image img {
    width: 250px;
  }

  .project.reverse .image img {
    width: 250px;
  }
}

@media (max-width: 460px) {
  .project {
    padding: 14px;
  }

  .principal span {
    font-size: 1.8rem;
  }

  .principal .principal-input-cursor {
    height: 30px;
  }

  .principal_botao-linkedin,
  .principal_botao-github,
  .sobre-mim_descricao-buttons-curriculo {
    width: 110px;
  }

  .principal_botao,
  .sobre-mim_descricao-buttons {
    width: auto;
    justify-content: space-around;
  }

  .project {
    flex-direction: column;
  }

  .project.reverse {
    flex-direction: column;
  }

  .project .description {
    margin-bottom: 2rem;
  }

  footer {
    font-size: 0.8rem;

  }
}


@media (max-width: 880px) {

  .principal,
  .sobre-mim,
  .experiencia {
    padding: 22% 0;
    text-align: center;
  }

  .principal {
    flex-direction: column;
  }

  .principal_left {

    width: 100%;
  }


  .principal_right {
    display: none;
  }

  .sobre-mim {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .sobre-mim_foto {
    max-width: 80%;
  }

  .sobre-mim_descricao {
    width: 80%;
  }

  .principal_botao,
  .sobre-mim_descricao-buttons {
    width: 320px;
    margin: 1rem auto;
  }

  .sobre-mim_descricao-buttons {
    justify-content: space-around;
  }

  .experiencia_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .experiencia_lugares {
    width: 200px;
    cursor: pointer;
  }

  .experiencia_lugares li {
    border-left: none;

  }

  .experiencia_lugares ul li:active {
    background-color: #151515;
    border-left: 2px solid #00d2df;
    font-weight: 600;
  }

  .experiencia_descricao {
    margin-left: 0;
    margin-top: 2rem;
    min-height: 46vh;
    width: 90%;
  }

  .experiencia_descricao span {
    display: block;
    position: inherit;
  }

  /* .project_wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5%;
    margin-bottom: 10rem;
  } */
}

@media (max-width: 1325px) {
  .principal h1 {
    font-size: 1rem;
  }

  .principal span {
    font-size: 2.2rem;
  }

  .principal .principal-input-cursor {
    height: 35px;
  }

  .principal,
  .sobre-mim,
  .experiencia,
  .projects {
    padding: 6.5%;
  }
}